/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End of Meyer Reset */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500;600&display=swap');

:root {
  --boardFont: 6rem;
}
body {
  font-family: "Roboto Mono", monospace;
  flex-direction: column;
  gap: 1.5rem;
  min-height: 100vh;
  background-color: #eee;
}
.gameboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  min-width: 600px;
  min-height: 600px;
  cursor: pointer;
}
body,
#game-square {
  display: flex;
  align-items: center;
  justify-content: center;
}
#game-square {
  border: 2px solid black;
  caret-color: transparent;
  font-size: var(--boardFont);
  user-select: none;
}
#game-square:nth-of-type(1),
#game-square:nth-of-type(2),
#game-square:nth-of-type(3) {
  border-top: 0;
}
#game-square:nth-of-type(1),
#game-square:nth-of-type(4),
#game-square:nth-of-type(7) {
  border-left: 0;
}
#game-square:nth-of-type(3),
#game-square:nth-of-type(6),
#game-square:nth-of-type(9) {
  border-right: 0;
}
#game-square:nth-of-type(7),
#game-square:nth-of-type(8),
#game-square:nth-of-type(9) {
  border-bottom: 0;
}
#game-square:active {
  background-color: lightblue;
}
.selected {
  animation: plop .2s ease-in-out;
}
.selected:active {
  background: url('./images/rick-astley.gif');
  background-size: cover;
  color: red;
}
#reset {
  border: 1px solid;
  cursor: pointer;
  border-radius: 5px;
  padding: .75em 1.25em;
  caret-color: transparent;
}
.winner {
  font-size: 2rem;
}
@keyframes plop {
  from {
    font-size: 7.5rem;
  }
}